body {
  background: #415a6c;
  margin: 0;
  font-family: 'Oswald';
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 653px ;
}
.parallax-layer {
  width: 100%;
  height: 653px ;
  position: fixed;
}
  .layer-0 {
    top: 0;
    z-index: 5;
    background: #dbf0ff url('images/inp_01_basestars_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-1 {
    top: 0;
    z-index: 5;
    background-image: url('images/inp_02_morestars_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-2 {
    top: 0;
    z-index: 10;
    background-image: url('images/inp_03_evenmorestars_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-3 {
    top: 0;
    z-index: 15;
    background-image: url('images/inp_05_frontstars_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-4 {
    top: 0;
    z-index: 25;
    background-image: url('images/inp_04_bigplanet_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-5 {
    z-index: 20;
    background-image: url('images/inp_06_smallplanet_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-6 {
    z-index: 30;
    background-image: url('images/inp_07_clouds_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }
  .layer-7 {
    z-index: 35;
    background-image: url('images/inp_08_moreclouds_2x.png');
    background-size: auto 653px;
    background-position: top center;
  }

  
.content {
  position: absolute;
  top: 653px;
  background: #fafafa;
  width: 100%;
  min-height: 2000px;
}
  .content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }